:root {
	/*- Colors */
	--body-cl: #161616;
	--main-cl: #00537f;
	--second-cl: #6de4ee;
	--gradient-1: #53bd8b;
	--gradient-2: #cfda5b;
	--gradient-3: #ff8952;

	/*- Fonts */
	--body-f: 'Oxanium', cursive;
	--xl: 5.5vw;
	--lg: 4vw;
	--md: 2.5vw;
	--sm: 1vw;

	/*- Sizing */

	/*- Z-indexes */
	--z-fixer: 70;
	--z-fix: 60;
	--z-topest: 50;
	--z-toper: 40;
	--z-top: 30;
	--z-low: -30;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ttf/iranyekanwebbold.ttf);
    src: url(fonts/ttf/iranyekanwebbold.ttf?#iefix) format('embedded-opentype'), url(fonts/woff2/iranyekanwebbold.woff2) format('woff2'), url(fonts/woff/iranyekanwebbold.woff) format('woff'), url(fonts/ttf/iranyekanwebbold.ttf) format('truetype')
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/ttf/iranyekanwebregular.ttf);
    src: url(fonts/ttf/iranyekanwebregular.ttf?#iefix) format('embedded-opentype'), url(fonts/woff2/iranyekanwebregular.woff2) format('woff2'), url(fonts/woff/iranyekanwebregular.woff) format('woff'), url(fonts/ttf/iranyekanwebregular.ttf) format('truetype')
}

html {
	font-size: calc(100vw / 191);
}

* {
    box-sizing: border-box;
    text-decoration: none;
	padding: 0;
	margin: 0;
    font-family: iranyekan, roboto, sans-serif;
}

ul {
	list-style: none;
}

body {
	font-family: var(--body-f);
	background-color: var(--body-cl);
	color: var(--main-cl);
	overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 3vw;

    font-size: calc(var(--sm) * 0.9);
    color: rgba(255, 255, 255, 0.8);
    
    background-color: #161616;
}

.header .left_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 30%;
}

.header .left_container div {
    margin: 0.5vw;
    margin-top: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .left_container .name {
    margin-top: 0.7vw;
    margin-left: 1vw;
    font-size: calc(var(--sm) * 2);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .right_container {
    margin-right: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chat {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
}

.history {
    height: 0;
    width: auto;
    transition: all 0.5s ease;
}

.history--active {
    height: 90%;
    width: 100%;
    padding: 4vw 5px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    direction: rtl;
    transition: all 0.5s ease;
}

.message {
    width: max-content;
    height: auto;
    max-width: 70%;

    margin-top: 10px;
    padding: 8px 12px;
    font-size: var(--sm);
}

.user_message {
    margin-left: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #262626;
    color: #ECECEC;
}

.agent_message {
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #ECECEC;
}

#query-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    gap: 10px;
    width: 40vw;
    height: 4vw;
    margin-bottom: 2vw;
    
    background-color: #262626;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 20px;
    transition: all 0.5s ease;
}

#query-form.moved {
    width: 60vw;
    transition: all 0.5s ease;
}

#query-form input {
    width: 90%;
    margin-left: 2%;
    border: none;
    padding: 10px 10px;
    text-align: right;
    direction: rtl;
    background-color: #262626;
    color: white;
}

.send_button {
    margin-right: 2%;
    
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    color: white;
    text-align: right;
    direction: rtl;

    transition: transform 0.3s ease;
}

.send_button:hover {
    transform: rotate(-90deg);
}

.send_button img {
    filter: invert(100%);
}

/*- RETRIEVAL */
.retrieval {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1vw;
}

.retrieval_result {
    width: 20vw;
    height: 80%;

    position: fixed;
    bottom: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    opacity: 0;
    transition: all 0.3s ease;
}

.retrieval_result--active {
    transform: translateY(-6vw);
    z-index: 123456;
    opacity: 1;
}

.retrieved_item
{
    width: 90%;
    max-height: 15%;

    background-color: #ECECEC;
    
    color: #262626;
    font-size: var(--sm);
    padding: 8px 12px;
    text-align: right;
    direction: rtl;
    overflow: hidden;

    cursor: pointer;

    border-radius: 30px;
    margin-bottom: 10px;

    z-index: 60;
}

.retrieved_item:focus {
    margin-left: 40px;
}

.retrieval_button {
    position: fixed;
    bottom: 2vw;

    width: 4vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    background-color: #686B86;
    color: white;

    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    transition: all 1s ease;
}

.retrieval_button--active {
    opacity: 1;
    z-index: 60;
}

.retrieval_button--rotate {
    transition: transform 1s ease;
    transform: rotate(360deg);
}

.blur {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: -1260;

    opacity: 0;
}

.blured {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 50;
}

.retrieval_result_focused {
    position: fixed;
    top: 0;
    left: 20vw;
    
    width: 80vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: -10;
}

.retrieval_result_focused--active {
    z-index: 60;
}

.retrieved_item_table {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    color: #161616;
}

.retrieved_item_table tr {
    width:100%;
    background: #FFFFFF;
    
    &:nth-of-type(odd) {
        background: #BBBBBB;
    }
}

.retrieved_item_table--active {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    direction: rtl;
    width: 60vw;
    border-radius: 25px;
    overflow: hidden;
    margin: 0;
    opacity: 1;
}

.retrieved_item_table td {
    padding: 0.5vw;
    width: auto;
    text-align: center;
    font-size: var(--sm);
    border-left: 1px solid #161616;
}